@model IEnumerable<eshop.Models.Produit>
<!--IEnumerable pour affficher plusieur produit-->
@{
    ViewBag.Title = "ListProduit";
}


<h2>Liste des produits</h2>
<table class="table table-hover">
    <tr tr class="table-secondary">
        <th>@Html.DisplayNameFor(model => model.NomProduit)</th>
        <th>@Html.DisplayNameFor(model => model.ProduitImage)</th>
        <th>@Html.DisplayNameFor(model => model.Description)</th>
        <th>@Html.DisplayNameFor(model => model.Prix)</th>
        <th>@Html.DisplayNameFor(model => model.Quantite)</th>
    </tr>
    @foreach(var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(model => item.NomProduit)</td>
                    <td>
                        @if (item.ProduitImage != null)
                        {
                            <img width="200" src="@Url.Action("GetImage",new {id=item.IdProduit})" />
                        }
                    </td>
                    <td>@Html.DisplayFor(model => item.Description)</td>
                    <td>@Html.DisplayFor(model => item.Prix)</td>
                    <td>@Html.DisplayFor(model => item.Quantite)</td>
                    <td>@Html.ActionLink("Afficher détails", "AfficherProduit", new { id = item.IdProduit })</td>
                </tr>
            }
</table>

